*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 213, 202);
    font-family: "open sans-serif";
}

body h1{
    text-align: center;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 60vh;
    width: 60vh;
    padding: 1rem;
    border-radius: 2rem;
}

.flag{
    width: 2rem;
}

form{
    margin: 1rem 0.75rem;
}

form select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid pink;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.dropdown i{
    margin: 2rem;
}

.dropdown select{
    cursor: pointer;
}

.select-container{
    display: flex;
    justify-content: center;
    border: 1px solid pink;
    border-radius: 0.5rem;
    width: 6rem;
    padding: 0.2rem;
}

.msg{
    margin: 2rem 0 2rem 0;
}

button{
    height: 2.5rem;
    background-color: skyblue;
    color: rgb(69, 21, 21);
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover{
    background-color: purple;
    color: whitesmoke;
}